<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>AUTOCOMPLETE</title>
    <link rel="stylesheet" href="/css/autocomplete.css">
</head>
<body>
    <div class="autosuggest">
        <input type="text" id="field" class="autosuggest-field">
        <img id="ajax-loader" src="/img/ajax-loader.gif" alt="" class="loader">
        <ul class="suggestions">
        </ul>
        <div class="errors"></div>
        <div id="suggest"></div>
    </div>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/autocomplete.js"></script>
</body>
</html>